{% extends 'base.html.twig' %}

{% block title %}
  HomePage
{% endblock %}

{% block body %}
  <div class="entete">
    <h1>
      Allan HANS
    </h1>
  </div>
  <div class="titre">
    <h2>
      Développeur Web Back-End</br>Création de site internet à Haguenau 67500
    </h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne">
            <i class="bi bi-wrench"></i> Langages
          </button>
        </h2>
        <div id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul class="list-group">
              <li class="list-group-item">PHP</li>
              <li class="list-group-item">SYMFONY</li>
              <li class="list-group-item">MySQL</li>
              <li class="list-group-item">Javascript</li>
              <li class="list-group-item">VueJS</li>
              <li class="list-group-item">HTML</li>
              <li class="list-group-item">CSS</li>
              <li class="list-group-item">Laravel</li>
              <li class="list-group-item">Codigniter</li>
              <li class="list-group-item">API platform(API REST)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo">
            <i class="bi bi-mortarboard"></i> Diplomes
          </button>
        </h2>
        <div id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul class="list-group">
              <li class="list-group-item">
                De mai 2022 à juillet 2022</br> Titre RNCP bac+2 Développeur web et web mobile à la Wild Code
                School<img class="logo" src="images/logoWild.png" alt="logo Wild Code School"/>
              </li>
              <li class="list-group-item">De 2014 à 2016</br> BTS transport logistique</li>
              <li class="list-group-item">
                De 2011 à 2014</br> Bac pro Accueil relation client et usager
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree">
            <i class="bi bi-usb-drive"></i> Compétences
          </button>
        </h2>
        <div id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul class="list-group">
                <li class="list-group-item">
                    Application des méthodes Agile, SCRUM et cycle en V
                </li>
                <li class="list-group-item">
                    Création de site web responsive et mobile first
                </li>
                <li class="list-group-item">
                    Déterminer des mesures correctives
                </li>
                <li class="list-group-item">
                    Analyser les problèmes techniques
                </li>
                <li class="list-group-item">
                    Rechercher une documentation en ligne
                </li>
                <li class="list-group-item">
                    Analyser les besoins du client
                </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour">
            <i class="bi bi-stopwatch"></i> Experiences
          </button>
        </h2>
        <div id="flush-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Adipso</h5>
                        <h6 class="card-title">Développeur Back-End</br>Stage 5 mois</h6>
                        <p class="card-text">Calculateur d'étanchéité(Laravel, VueJS, API platform):</br> -Export de fichier Excel depuis la base de donnée</br> -Intégration</br> -Formulaire</br> -CRUD</p>
                        <p class="card-text">Outil de gestion d'évenements(Symfony, VueJS, API platform):</br> -Authentification</br> -Sécurisation des requêtes SQL</br> -Rôle des utilisateurs (admin, formateur, participant, intervenant)</br> -Création de formulaires(ajout d'un évenement, ajout de participants à un évenement)</br> -Création de modal en VueJS</br> -Création d'une base de donnée</br> -CRUD</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Digitalize</h5>
                        <h6 class="card-title">Création d'un projet</h6>
                        <p class="card-text">Site de shopping(Symfony):</br> -Création d'une base de donnée</br> -Requête API</br> -Géolocalisation</br> -Authentification</br> -Création de rôles</br> -Dashboard admin</p>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive">
            <i class="bi bi-person-bounding-box"></i></i> Coordonnées
          </button>
        </h2>
        <div id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="row">
                <div class="card coordonnees">
                <div class="card-body">
                    <h5 class="card-title">Allan HANS</h5>
                    <h6 class="card-title">Développeur Web Back-End</h6>
                    <p class="card-text"><i class="bi bi-envelope-at"></i> allan.hans68350@gmail.com</p>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Haguenau 67500</p>
                    <p class="card-text"><i class="bi bi-phone"></i>06.59.68.28.92</p>                        
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
